ul{
    list-style-type: none;
}
.settings-background {
    height: 70vh;
    border: 10px solid black;
    background-color: lightblue;
}
.setting-box{
    display: flex;
    height: 100%;
    
}
.setting_items{
    font-size: 10px;

}
