.nav__checkbox {
  display: none;
}

.nav__button {
  background-color: rgb(51, 51, 51);
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 30px;
  box-shadow: 0 1rem 3rem rgb(2, 2, 2, 0.6);
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.nav__icon,
.nav__icon::before,
.nav__icon::after {
  content: "";
  height: 2px;
  width: 20px;
  display: inline-block;
  background-color: #eee;
  position: relative;
}

.nav__icon {
  margin-top: 50%;
}

.nav__icon::before,
.nav__icon::after {
  position: absolute;
  transition: all 0.3s ease;
}

.nav__icon::before {
  top: -10px;
  left: 0;
}

.nav__icon::after {
  top: 10px;
  left: 0;
}

.nav__button:hover .nav__icon::before {
  top: -12px;
}
.nav__button:hover .nav__icon::after {
  top: 12px;
}

.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}

.nav__checkbox:checked + .nav__button .nav__icon::before {
  transform: rotate(135deg);
  top: 0;
}

.nav__checkbox:checked + .nav__button .nav__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.nav__background {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 32px;
  background-image: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav__checkbox:checked ~ .nav__background {
  transform: scale(100);
}

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.86, -0.55, 0.0265, 1.55);
}

.navigation__list {
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.nav__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__item > * {
  display: inline-block;
  background-color: #6499e9;
  background-size: 220%;
  transition: all 0.8s;
}

.navigation__item > *:hover {
  color: #f7f7f7;
  background-image: linear-gradient(
    105deg,
    transparent 0%,
    transparent 50%,
    #654ea3 50%
  );
  background-position: 100%;
}

.homepage-background {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

.disappear{
    display: none;
}
.appear{
    display: block;
}